#posts-section {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#posts-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: -17px;
}

.post-btn {
  width: 110px;
  height: 100%;
  padding: 1rem 0;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;
}

.saved-btn {
  width: 110px;
  height: 100%;
  padding: 1rem 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;
}

#post-items {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.post {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

#modal-background {
  background-color: grey;
  z-index: 100;
}
